//**** Navbar Home **** //
///////////////////////////////////////////////////////////
.logo{
  max-width: 80px;
  padding:20px;
}

.is-fullheight{
 background-position: center;
  background-size: cover;
  height: 500px;
  transition: background-image 0.8s step-end
}

//**** END Navbar Home  **** //



/************************************* PRE-PAGE LOADING EFFECT STYLING *************************************/

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.pre-page-loader svg {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.pre-page-loader svg path {
    opacity: 1;
    fill: none;
    fill-opacity: 0;
    fill-rule: nonzero;
    stroke: #ffffff;
    stroke-width: 19;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-dashoffset: 2.19999981;
    stroke-opacity: 1;
    stroke-dasharray: 870;
    stroke-dashoffset: 870;
    animation: draw 15s infinite linear;
}
@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    z-index: 1001;
}
#loader:before {
    content: "";
    position: absolute;
}
#loader:after {
    content: "";
    position: absolute;
}
#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
    -webkit-transform: translateX(0);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);
    /* IE 9 */
    transform: translateX(0);
    /* Firefox 16+, IE 10+, Opera */
}
#loader-wrapper .loader-section.section-left {
    left: 0;
}
#loader-wrapper .loader-section.section-right {
    right: 0;
}
/* Loaded */

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);
    /* IE 9 */
    transform: translateX(-100%);
    /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.4s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.4s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);
    /* IE 9 */
    transform: translateX(100%);
    /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.4s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.4s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%);
    /* IE 9 */
    transform: translateY(-100%);
    /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}









/********************** UNIVERSAL STYLING **********************/
body {
  background-color: rgb(29, 29, 29);
  }
#container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(29, 29, 29);
  }
#below-carousel {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(29, 29, 29);
  }
.separator-container {
  text-align: center;
  position: relative;
  }
h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 62px;
  font-weight: 600;
  margin-top: 200px;
  }
h2 {
  font-family: 'Arial', sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: white;
  }
h3 {
  font-family: 'Arial', sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: rgb(159, 159, 159);
  }
h4 {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: white;
}
h5 {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(159, 159, 159);
  }
h6 {
  font-family: 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: rgb(159, 159, 159);
  }
a {
  text-decoration: none;
  }
#left-padding-same-line {
  padding-left: 10px;
  }
.white {
  color: white;
  }
.orange {
  color: rgb(227, 78, 51);
  }
.red {
  color: rgb(217, 14, 10);
  }
.yellow {
  color: rgb(246, 143, 30);
  }
.aqua {
  color: rgb(103, 217, 218);
  }
.blue {
  color: rgb(33, 98, 188);
  }
.grey {
  color: rgb(159, 159, 159);
  }
.line-5px {
  border-top: 5px solid rgb(40,40,40);
  margin-top: 43px;
  }
.line-1px {
  border-top: 1px solid rgb(40,40,40);
  margin-top: 20px;
  }

/********************** NAVIGATION SECTION **********************/

.nav-logo {
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}
.nav-logo:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
/*this makes the little logo at the top of the screen spin when you hover over it.*/

.nav-section {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #D3D3D3;
    z-index: 2;
}
.wrapper {
    position: relative;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

.nav-logo {
    float: left;
}
nav {
    float: right;
    height: 40px;
}
ul li {
    display: inline-block;
    margin-top: 10px;
}
ul li a {
    margin: 0 10px;
    padding: 5px;
    display: block;
    text-decoration: none;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: white;
}


.david-roost-header {
    float: left;
    padding-left: 10px;
    padding-top: 11px;
    color: black;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    /*text-shadow: 0 0 6px rgb(0, 0, 0);*/
}

.david-roost-header:hover {
    color: rgb(0, 204, 255);
    text-shadow: none;
}
/* ul li a:hover{
color: rgb(0, 204, 255);
text-shadow: none;
} */

#top-menu li a:hover {
    color: rgb(0, 204, 255);
    text-shadow: none;
}
#top-menu li.active a {
    color: rgb(240, 88, 89);
}
nav ul li:first-child {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}


/*<!-- ********************** CAROUSEL SECTION ********************** -->*/

.carousel {
  z-index: -1;
  }
.slider {
  margin: 0 auto;
  max-width: 1600px;
  max-height: 690px;
  }
.slide_viewer {
  height: 674px;
  overflow: hidden;
  position: relative;
  }
.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
  }
.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  }
#django {
  background-image: url("../Content/django.jpg");
  }
#vizio {
  background-image: url("../Content/vizio.jpg");
  }
#escape {
  background-image: url("../Content/escape.jpg");
  }
#ultra {
  background-image: url("../Content/ultra.jpg");
  }

.slide:first-child {
  display: block;
  }
.slide_buttons {
  margin-top: -60px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  }
a.slide_btn {
  color: rgb(159, 159, 159);
  font-size: 50px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  }
.slide_btn.active, .slide_btn:hover {
  color: rgb(227, 78, 51);
  cursor: pointer;
  }
.directional_nav {
  height: 340px;
  margin: 0 auto;
  max-width: 940px;
  position: relative;
  top: -340px;
  }
.previous_btn {
  bottom: -260px;
  left: 20px;
  margin: auto;
  position: absolute;
  top: 0;
  }
.next_btn {
  bottom: -260px;
  margin: auto;
  position: absolute;
  right: 20px;
  top: 0;
  }
.previous_btn, .next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
  }
.previous_btn:hover, .next_btn:hover {
  opacity: 1;
  }
.slider-text-left {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  }
.slider-text-right {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  }
#slider-text {
  width: 375px;
  }
#slider-text-right {
  width: 375px;
  float: right;
  text-align: right;
  }



/*<!-- ********************** FEATURED WORK SECTION ********************** -->*/

#sub-header {
  margin-bottom: 20px;
  }
#sub-header h3 {
  margin-top: 71px;
  text-align:left;
  float:left;
  }
#sub-header h6 {
  margin-top: 79px;
  text-align:left;
  float:left;
  }
.project-box{
  height:270px;
  width:32%;
  margin-left: 1%;
  margin-right: 1%;
  float:left;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;

  }
.project-category .project-box:first-of-type {
  margin-left: 0%;
  }
.project-category .project-box:last-of-type{
  margin-right: 0%;
  }
#project-image h4{
  margin-top: 180px;
  }
.project-category {
  clear:both;
  text-align: left;
  }
#project-01 {
  max-height: 160px;
  background-image: url("../Content/project-01.png");
  }
#project-02 {
  max-height: 160px;
  background-image: url("../Content/project-02.png");
  }
#project-03 {
  max-height: 160px;
  background-image: url("../Content/project-03.png");
  }



  .news-box{
    padding-bottom: 400px;
    }

/*<!-- ********************** FOOTER SECTION ********************** -->*/

.footer-logo {
  margin-top: 5px;
  display: block;
  width: 100px;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  }
footer h6 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  }
a.phone {
  font-family: 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: rgb(103, 217, 218);
  text-decoration: none
  }

/*<!-- ********************** MOBILE RESPONSIVE SECTION ********************** -->*/

@media screen and (max-width:990px){

  h1 {
    text-shadow: 2px 2px 4px #ffffff;
    }
  #slider-text, #slider-text-right {
    padding: 15px;
    background-color: rgba(55, 55, 55, 0.61);
    }
  h6#slider-text, h6#slider-text-right {
    color: white;
    }
  h1.orange {
    text-shadow: 2px 2px 4px #000000;
    }
  .slide_viewer {
    height: 500px;
    }
  .slider {
    max-height: 520px;
    }
  .slider-text-left {
    margin-left: 25px;
    }
  .slider-text-right {
    margin-right: 25px;
    }
  h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 42px;
    font-weight: 600;
    margin-top: 100px;
    }
  h2 {
    font-size: 20px;
    }
  .previous_btn {
    left: 600px;
    }
  .next_btn {
    right: 50px;
    }
  .nav-logo-right{
    display: none;
    }
  .nav-section {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    }
  h6.white{
    color: rgb(159, 159, 159);
    }
  .nav-logo-left {
    margin-left: 20px;
    }
  .wire-section {
    padding-top: 120px;
    clear:both;
    }

}

 @media screen and (max-width:768px){

    #sub-header {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      }
    #we-are {
      width: 95%;
      margin-top: -40px;
      margin-left: auto;
      margin-right: auto;
      }
    .project-box {
      height:160px;
      margin-bottom: 150px;
      display: block;
      width: 90%;
      margin-left:5%;
      }
    #project-01.project-box {
      margin-left: 5%;
      }
    #project-image h4{
      margin-top: 180px;
      }
    .previous_btn {
      display: none;
      }
    .next_btn {
      display: none;
      }
    nav {
      height: 60px;
      transition: 1s height;
      float: none;
      text-align:center;
      }
    .open{
      height: 260px;
      }
    .close {
      height: 0px;
      }
    .line{
      width: 25px;
      height: 3px;
      background: rgb(178, 0, 0);
      margin-top: 3px;
      }
    nav ul li:first-child {
      padding-top: 9px;
      margin-top: 10px;
      margin-right: 10px;
      display:block;
      }
    ul li {
      display: block;
      }
    ul li a {
      margin-top: 10px;
      }
    ul {
      padding-top: 50px;
      }
    .previous_btn {
      left: 50px;
      }
    .next_btn {
      right: 50px;
      }
    .news-box {
      height:60px;
      margin-bottom: 60px;
      display: block;
      width: 90%;
      margin-left:5%;
      text-align: center;
      }
    #news-01.news-box {
      margin-left: 5%;
      }
    .wire-section {
      padding-top: 40px;
      clear:both;
      }

}










#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    }

.pre-page-loader svg  {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  }
.pre-page-loader svg path {
  opacity: 1;
  fill: none;
  fill-opacity: 0;
  fill-rule: nonzero;
  stroke: #ffffff;
  stroke-width: 16;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 2.19999981;
  stroke-opacity: 1;
  stroke-dasharray: 870;
  stroke-dashoffset: 870;
  animation: draw 15s infinite linear;
  }

@keyframes draw {
  to {stroke-dashoffset: 0;}
  }

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  z-index: 1001;
  }

#loader:before {
  content: "";
  position: absolute;
  }

#loader:after {
  content: "";
  position: absolute;
  }

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 1000;
  -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(0);  /* IE 9 */
  transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
  }

#loader-wrapper .loader-section.section-left {
  left: 0;
  }

#loader-wrapper .loader-section.section-right {
  right: 0;
  }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
              }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

      -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
              transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
            }

    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
              }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;
                transition: all 0.3s 1s ease-out;
              }





              /******** HEADER CHANGE COLOR ON SCROLL EFFECT ********/

              .nav-section {
                  overflow: hidden;
                  -webkit-transition: background-color 700ms linear;
                  -moz-transition: background-color 700ms linear;
                  -o-transition: background-color 700ms linear;
                  -ms-transition: background-color 700ms linear;
                  transition: background-color 700ms linear;
              }
              .nav-section.scrolled {
                  background-color: black;
                  /*border-bottom: 2px solid rgb(178,0,0);*/
              }
