@import "react-alice-carousel/lib/scss/alice-carousel.scss";


//**** Navbar Home **** //
///////////////////////////////////////////////////////////
.logo{
  max-width: 80px;
  padding:20px;
}

.is-fullheight{
 background-position: center;
  background-size: cover;
  height: 500px;
  transition: background-image 0.8s step-end
}
//**** END Navbar Home  **** //


//**** Googlemaps Style **** //
.popupimage{
  width: 30px;
}

.marker{
  width: 30px;
}
//**** End Googlemaps Style **** //

.navbar{
  background-color: white
}

width{
  width: 50px;
}


//**** Carousel **** //
