//**** Navbar Home **** //
///////////////////////////////////////////////////////////
.logo{
  max-width: 80px;
  padding:20px;
}

.is-fullheight{
 background-position: center;
  background-size: cover;
  height: 500px;
  transition: background-image 0.8s step-end
}
//**** END Navbar Home  **** //
